body {
    font-family: Arial, sans-serif;
    background: white;
    text-align: center;
    padding-top: 100px;
}

.container {
    background: white;
    padding: 30px;
    width: 300px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

input, button, .btn {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #ccc;
}

button, .btn {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.fail {
    color: red;
}
